.board {
  &,
  * {
    box-sizing: border-box;
  }

  display: flex;
  flex-wrap: wrap;

  .box {
    cursor: pointer;
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
  }
}
