.board {
  &,
  * {
    box-sizing: border-box;
  }

  display: flex;
  flex-wrap: wrap;

  .box {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;

    transition: all 0.5s ease;

    &.won {
      background-color: gold;
    }
  }

  &.game-in-progress {
    .box {
      cursor: pointer;

      &:hover {
        background-color: aquamarine;
      }
    }
  }

  &.game-over {
    .box {
      cursor: not-allowed;
    }
  }
}
